.center.hero-unit
  %h1 Rails Demo
  %h2
    This is the home page for the #{link_to 'Rails Demo', 'http://rocky-ridge-7395.herokuapp.com/'} app.
  = link_to 'Sign up now!', signup_path, class: 'btn btn-large btn-primary'
= link_to image_tag( 'rails.png', alt: 'Rails', height: 37, width: 31 ), 'http://rubyonrails.org'